body {
    background-image: linear-gradient(to bottom, #00008b, #add8e6);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 40px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  border-radius: 30px;
  background-color: white;
  margin-top: 200px;
  gap: 90px;
  padding: 10px;
  box-sizing: border-box;
}

.table-container {
  margin-top: 20px;
  width: 400px;
  display: flex;
  justify-content: center;
}


.selectors {
    display: flex;
}
.card {
    width: 100px;
    height:20px;
    text-align: center;
    cursor: pointer;
}
.active {
    color: rgba(0, 157, 255, 0.588);
    border-bottom: 2px solid rgba(0, 157, 255, 0.588);
}
.inputs {
    display: flex;
    flex-direction: column;
}
.btn {
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}
input {
    height: 15px;
    width: 200px;
    border: 3px solid lightblue;
    border-radius: 5px;

}
@media (max-width: 390px) {
    * {
        font-size: 12px;
    }
    .title {
        font-size: 30px;
    }
    .main {
        width: 200px;
        height: 300px;
    }
    .card {
        width: 70px;
    }
    .table-container {
        width: 200px;
    }
    input {
        width: 100px;
    }
}